body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.list-group.wd > .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #f5f5f5 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #000 !important;
  --bs-btn-hover-bg: #e0e0e0 !important;
}

.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: #f5f5f5 !important;
}

.list-group-item {
  --bs-list-group-border-color: #c7cdd1;
}

.wd-lesson {
  border-left: 3px solid green !important;
}